<section class="ticket-form">
  <h1 class="ticket-form__title" mat-dialog-title>
    Need help? Send a ticket
  </h1>
  <button class="ticket-form__close-btn" type="button" (click)="onClose()">
    <mat-icon>close</mat-icon>
  </button>
  <div mat-dialog-content style="display: flex; flex-direction: column">
    <input type="text"
           class="ticket-form__control"
           placeholder="Request name">
    <select class="ticket-form__control">
      <option [value]="null">Department</option>
    </select>
    <ckeditor data="<p>Hello, world!</p>" style="margin-bottom: 15px"></ckeditor>
    <span class="ticket-form__label">Add attachment</span>
    <div class="ticket-form__file-input">
      <span>Drag and drop your document here or</span>
      <button>Select a file</button>
    </div>
    <div class="ticket-form__file-preview">
      <img src="assets/images/pdf.png" alt="pdf file">
      <span>document.pdf</span>
      <div style="flex: 1"></div>
      <button type="button"><mat-icon>close</mat-icon></button>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial class="ticket-form__create-btn">
      Send ticket
    </button>
  </div>

</section>
